.individual {
    width: 100%;
    background: url("../../../Resources/shutterstock_1302552622.jpg");
    background-position: top 8% center;
    background-size: 100% auto; 
    background-repeat:no-repeat;
    min-height: 425px;
    display: flex;
    align-items: center;
    
    justify-content: flex-start;
}

.individual {
    position: relative;
}
.individual::before { /*border: 1px solid greenyellow;*/
    content:"";
    width: 256px;
    height: 100%;
}
.individual-content { /*border: 1px solid green;*/
    width: 455px;
    text-align: left;
    padding: 27px;
    background: rgb(95, 91, 91);
    color: white;
    
    border-radius: 4.5px;
}

.individual-content h3 {
    margin-top: 0;
    font-weight: normal;
}
.individual-content p {
    font-size: 12px;
    line-height: 20px;
    margin-top: 24px;
    margin-bottom: 24px; 
}
.login-btn {
    width: 120px;
    height: 40px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 3px;
    color: royalblue;
    
    font-weight: bold;
    font-size: 10px;
}




@media (max-width:1024px) { 
    .individual-content {
        width: 435.2px; 
        /*width: 364px;*/
        background: linear-gradient(to right, rgb(95, 91, 91) 0, rgb(95, 91, 91, 0.618) 61.8%, rgb(95, 91, 91, 0.0618) 100%);
    }
    .individual::before {
        width: 76.8px;
    }
  }
  @media (max-width:960px) {
    .individual-content { 
        width: 364px; 
        background: linear-gradient(to right bottom, rgb(95, 91, 91) 0, rgb(95, 91, 91, 0.618) 61.8%, rgb(95, 91, 91, 0.0618) 100%);

    }
    .individual {min-height: 465px;}
    .individual::before { width: 72px; }
  }
  @media (max-width:768px) { 
    .individual::before { width: 57.6px; }
    .individual-content { 
        width: 349.4304px;  /*768*.85*.618-54*/
        background: linear-gradient(to right bottom, rgb(95, 91, 91) 0, rgb(95, 91, 91, 0.618) 38.2%, rgb(95, 91, 91, 0.0618) 100%);

    }
  }
  @media (max-width:600px) { 
    .individual {height: auto; min-height: auto; /*padding: 46.5px auto;*/ min-height: 400px;}
    .individual::before {  width: 45px; width: 0px; }
    .individual-content { 
        font-size: 10px; 
        width: 510px; width: 85%; 
        width: 456px; margin: 46.5px auto;
        opacity: 0.5;
    } /* margin: 50px auto;*/
    .individual-content h3 {font-size: 12px;}
  }


@media (max-width:480px){
    .individual-content {
        width: 354px; 
        font-size: 10px;
        opacity: 0.5;
    }
    .individual::before {display: none;}
    .individual {
        display: flex;
        align-items: center;
        justify-content: center;

        min-height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
        min-height: 350px;
        background-size: cover;
    }
    .login-btn {
        width: 100%;
    }
  }

  @media (max-width:360px){
    .individual-content {
        width: 252px; 
    }
}