.introduction {
    width: 68%;
    margin: 60px auto;
    /*border: 2px solid red;*/
    
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    padding: 0;
}

.left-brief { /*border: 1px solid greenyellow;*/
    width: 500px;
    
    padding: 0;
    text-align: left;
    position: relative;
    /*height: 100%;*/

    /*height: 310px;*/
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.left-brief h3 { /*border: 1px solid black;*/
    margin-top: 0;
    margin-bottom: 10px;
}
.left-brief .brief { /*border: 1px solid purple;*/
    font-size: 12px;
    line-height: 20px;
}
.left-brief ul{ /*border: 1px solid purple;*/
    padding: 0;
    list-style-position: inside;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 15px;
}
.left-brief ul li, .left-brief ul li::marker{ 
    margin: 0;
    padding: 0;
    font-size: 8px;
}

.left-brief ul li span{
    margin-left:-0.5em;
    font-size: 11px;
    font-weight: bold;
}
.left-brief ul li {
    padding-bottom: 5px;
}

.left-brief .detail-btn {
    width: 120px;
    height: 40px;
    background-color: royalblue;
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    font-size: 10px;
    font-weight: bold;
}

.right-part {
    width: 510px;
    height: auto;
    min-height: 310px; /*opt*/
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.right-img{ /*border: 2px solid yellowgreen;*/
    width: 510px;
    
    padding: 0;
    overflow: hidden;
    border-radius: 5px;

    /*min-height: 310px; height: auto;*/
    height: 310px;
}
.right-img img{  /*border: 2px solid greenyellow;*/
    width: 510px;

    transform: scale(1.12,1.15);
    -ms-transform:scale(1.12,1.15); /* IE 9 */
    -moz-transform:scale(1.12,1.15); /* Firefox */
    -webkit-transform:scale(1.12,1.15); /* Safari and Chrome */
    -o-transform:scale(1.12,1.15); /* Opera */
    

   
}
.right-img img{
    height: 310px;
    transform: scale(1.04);
    -ms-transform:scale(1.04); /* IE 9 */
    -moz-transform:scale(1.04); /* Firefox */
    -webkit-transform:scale(1.04); /* Safari and Chrome */
    -o-transform:scale(1.04); /* Opera */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width:480px){
    .introduction {
        flex-direction: column-reverse;
        width: 85%;
        margin: 40px auto;
    }
    .left-brief, .right-img{ width: 100%; margin: 0 auto;}
    .left-brief {margin-top: 30px; height: auto;}
    .left-brief ul {margin-bottom: 20px;}
    .right-img {height: 272px;}
    .right-img img { width: 100%; object-fit: scale-down;} 
    .left-brief .detail-btn { width: 100%;}
  } /*7.5:5*/
  @media (max-width:360px){
    .introduction {
        width: 85%;
    }
    .right-img {height: 204px;}
    .right-img img { width: 100%;} 
  }