
.service { /*border:1px solid red;*/
    width: 68%;
    margin: 32px auto;
}
.service h1 { /*border:2px solid blue;*/
    margin-bottom: 0;
}
.service h3 { /*border:2px solid green;*/
    margin-top: 4px;
    margin-bottom: 28px;
}
.service-content p{ /*border:1px solid yellow;*/
    text-align: left;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 20px;
}
.service-content p:last-child{
    margin-bottom: 0px;
}

.service-content { /*border: 1px solid purple;*/
    -webkit-column-count: 3;
      -moz-column-count: 3;
           column-count: 3;

   -webkit-column-gap: 35px;
      -moz-column-gap: 35px;
           column-gap: 35px;
}

/*.service-content .first-paragraph*/
.service-content p:first-child {
    font-weight: bold;
    margin-top: 0;
}

.contact-btn {
    margin: 30px auto;
    width: 120px;
    height: 40px;
    background-color: royalblue;
    border: none;
    cursor: pointer;
    /*text-decoration: none;*/
    border-radius: 3px;
    color: white;
}

@media (max-width:480px){
    .service-content { /*border: 1px solid purple;*/
        -webkit-column-count: 1;
          -moz-column-count: 1;
               column-count: 1;
    }
    .contact-btn { width: 100%;}
    .service { width: 85%; }
  }
  @media (max-width:360px){
    .service { width: 85%; }
  }


