.about-us {
    width: 68%;
    margin: 34px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }

  .about-us .officeImg {
    overflow: hidden;
    width: 600px;
    border-radius: 3px;
  }
  .about-us img {
    /*width: 600px;*/
    width: 100%;
    transform: scale(1.05);
    
    /*border-radius: 0px;*/
    -ms-transform:scale(1.05); /* IE 9 */
    -moz-transform:scale(1.05); /* Firefox */
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -o-transform:scale(1.05); /* Opera */
  }

  .about-us .beforeImg, .about-us .afterImg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .about-us h3, .about-us h5, .about-us h6 {
    text-align: left;
  }
  .beforeImg h6 {
    margin-top: 8px;
    margin-bottom: 0px;
  }
  .beforeImg p, .afterImg p {
    font-size: 12px;
    line-height: 21px;
    text-align: left;
  }

  .beforeImg p:nth-child(3) {
    margin-top: 4px;
  }
  .beforeImg p:last-child {
    margin-bottom: 27px;
  }
  .beforeImg p .about-inline {
    text-decoration: underline;
    color:lightskyblue;
  }

  .afterImg p:first-child {
    margin-top: 23px;
    margin-bottom: 8px;
  }
  /*.afterImg h5 { font-size: 15px;}
  .afterImg ul { margin-top: 0;}*/
  .afterImg h5 { 
    font-size: 14px;
    margin-bottom: 0px;
  }
  .afterImg ul li {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
  }
  .afterImg ul {
    list-style: inside;
    padding-left: 0;
    margin-bottom: 13px;
  }
  .afterImg ul li,  .afterImg ul li::marker {
    font-size: 8px;
  }
  .afterImg ul li span {
    font-size: 10px;
    margin-left: -0.91em;
  }
  .afterImg p:last-child {
    margin-bottom: 23px;
  }


  @media (max-width:480px){
    .about-us { width: 85%; margin: 0 auto;}
    .about-us .officeImg { width: 408px; }
    .afterImg p:last-child {
      margin-bottom: 40px;
    }
  }

  
  @media (max-width:360px){
    .about-us { width: 85%; margin: 0 auto;}
    .about-us .officeImg { width: 306px; }
    .afterImg p:last-child {
      margin-bottom: 40px;
    }
  }


