.App {
    text-align: center;
    background-color: white;
    /*max-width: 1600px;*/
      /*min-width: 1100px;*/
    /*width: 1100px;*/
    width:1600px;
    min-height: 960px;
    display: flex;
    flex-direction: column;
  }
  .App-header, .home, .contact-us, .about-us {
    width: 100%;
  }
  
  .home, .contact-us, .about-us {
    min-height: 85vh;
    flex: 1;
  }
  .contact-us, .about-us {
    /*margin-left: 250px;
    margin-right: 250px;*/
    width: 80%;
    margin: 0 auto;
  }
  .App-header, .contact-us, .about-us {
    /*background-color: #282c34;*/
    /*min-height: 50px;*/
    /*border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;*/
    /*padding-left: 250px;
    padding-right: 100px;*/
  }
  .App-header{
    /*padding-left: 250px;
    padding-right: 250px;*/
    height: 58px;
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    border: 2px solid red;
  }
  
  
  
  
  .App-header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    width:80%;
    margin: 0 auto;
  }
  .App-header nav .logo{
    width: 166px;
    border: 2px solid green;
    
  }
  .App-header nav .nav-links{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    border: 2px solid black;
  }
  .App-header .nav-links ul {
    display: flex;
  }
  .App-header .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 22px;
    position: relative;
    font-size: 8px;
    letter-spacing: 2px;
    font-weight: 500;
    border:2px solid red;
  }
  .App-header .nav-links ul li a{
    text-decoration: none;
    border: 2px solid yellow;
  }
  
  
  
  
  .App-footer{
    /*margin-left: 250px;
    margin-right: 250px;*/
  
    width: 100%;
    height: 58px;
    border-top: 1px solid grey;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: grey;
    font-size: 0.5em;
  
    width: 80%;
    margin: 0 auto;
  }
  
  
  