
.App-header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border: 2px solid black;*/
    width:68%;
    margin: 0 auto;
  }
  .App-header nav .logo{
    width: 166px;
    /*border: 2px solid green;*/
    

    display: flex;
    justify-content: center;
    align-items: center;
  }
 

  .App-header nav .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
  }

  
  .App-header nav, .App-header nav .nav-links, .App-header nav .nav-links ul, .App-header nav .nav-links ul li {
    height: 100%;
  }
  
  .App-header nav .nav-links ul {
    margin: 0;
  }


  .App-header nav .nav-links{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    /*border: 2px solid black;*/
  }
  .App-header .nav-links ul {
    display: flex;
    /*border: 1px solid blue;*/
    justify-content: flex-end;
  }
  .App-header .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 18px;
    position: relative;
    font-size: 9px;
    letter-spacing: 2px;
    font-weight: 500;
    /*border:2px solid red;*/
    text-transform: uppercase;
    
    display: flex;
    /*display: inline-flex;*/

  }
  .App-header .nav-links ul li a{
    text-decoration: none;
    /*border: 2px solid yellow;*/
    

    height: 100%; 
    width: 100%; 

    display: flex;
    align-items: center;
    /*justify-content: center; */
  }
  .App-header .nav-links ul li:last-child {
    padding-right: 26px;
  }

  .login {
    /*border: 1px solid orange;*/
    font-size: 8px;
    padding: 9px 30px;
    background-color: rgb(135, 206, 250, 0.2);
    font-weight: bold;
    color:mediumblue;
  }
  
  @media (max-width:480px) {
    .App-header {
      width: 480px;
      height: 58px;
    }
    .App-header nav .nav-links, .login{
      display: none;
    }
    .App-header nav, .App-header nav .logo {
      width: 100%;
      
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .App-header nav .logo img {
      width: 50%;
      height: 50%;
      /*object-fit: contain;*/
    }
  }

  @media (max-width:360px) {
    .App-header {
      width: 360px;
    }
  }