.App {
  text-align: center;
  background-color: white;
  width:1600px;
  min-height: 960px;
  min-height: 826px;
  display: flex;
  flex-direction: column;
}
.App-header, .App-container {
  width: 100%;
}

.App-container {
  min-height: 85vh;
  flex: 1;
}


.App-header{
  height: 58px;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  border: 2px solid red;
}



.App-footer{
  height: 60px;
  border-top: 1px solid grey;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: grey;
  font-size: 0.5em;

  width: 68%;
  margin: 0 auto;
}


@media (max-width:600px){
  .App-container {width: 600px;}
}