.App {
  text-align: center;
  background-color: white;
  width:1600px;
  min-height: 960px;
  min-height: 826px;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}
.App-header, .App-container, .App-footer {
  width: 100%;
}

.App-container {
  min-height: 85vh;
  flex: 1;
}


.App-header{
  height: 58px;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  border: 2px solid red;
}






@media (max-width:600px){
  .App-container {width: 600px;}
  .App-header, .App-footer {width: 600px;}
}